<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orange.ma.entreprise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.orange.ma.entreprise.OrangePro"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_new"
        android:roundIcon="@mipmap/r_ic_launcher_new"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_traffic_config"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.orange.ma.entreprise.views.authentication.AuthenticationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.orange.ma.entreprise.views.selectlanguage.SelectLanguageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.orange.ma.entreprise.views.splashscreen.SplashScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="com.orange.ma.entreprise" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.orange.ma.entreprise.views.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <service
            android:name=".fcm.OFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_new" />
    </application>

</manifest>